<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
      <%= f.input :first_name ,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "First Name"}, class: 'form-control' %>
  </div>

      <%= f.input :last_name ,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "Last Name"} %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>

      <%= f.input :address ,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "Address"} %>

      <%= f.input :phonenumber ,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "Phone Number"} %>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
