<div class="header-area">
    <div class="container">
        <div class="user-menu">
            <ul>
                <li><a href="#"><i class="fa fa-user"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-heart"></i>Shop page</a></li>
                <li><a href="cart.html"><i class="fa fa-user"></i>Category</a></li>
                <li><a href="checkout.html"><i class="fa fa-user"></i> Contact</a></li>
            </ul>
        </div>
    </div>
</div>
