<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag 'h4-slide.png' %>
            <div class="d-flex justify-content-center">
            <div class="caption-group">
                <h2 class="caption title">
                    iPhone <span class="primary">6 <strong>Plus</strong></span>
                </h2>
                <h4 class="caption subtitle">Dual SIM</h4>
                <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <%= image_tag 'h4-slide3.png' %>
            <div class="d-flex justify-content-center">
            <div class="caption-group">
                <h2 class="caption title">
                    Apple <span class="primary">Store <strong>Ipod</strong></span>
                </h2>
                <h4 class="caption subtitle">Select Item</h4>
                <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <%= image_tag 'h4-slide2.png' %>
            <div class="d-flex justify-content-center">
                <div class="caption-group">
                    <h2 class="caption title">
                        Apple <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Select Item</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
